body {
	background: #87DAE0;
	border: 0;
	margin: 0;
}
canvas {
	width: 100vw;
	height: 100vh;
	background:  white;
	/*linear-gradient(90deg, rgba(230,99,200,1) 0%, rgba(133,240,177,1) 35%, rgba(44,219,255,1) 100%);*/
}
#name {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#name .background {
	min-height: 1000px;
	position: absolute;
	width: 30rem;
	height: 300vh;
	top: -100vh;
	left: 60%;
	/*transform-origin: center center;*/
	transform: rotate(45deg);
	border-left: 3px solid ;
	background: #F15387;
	background: black;
}
#name .text {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30rem;
	height: 100vh;
	left: 59%;
	top: 0%;
	color: white;
}

#name .social {
	display: flex;
	width: 70%;
	flex-direction: row;
	justify-content: space-around;
}

#name .social div {
	color: white;
}

#name .social li {
	display: 
}

#name .text h2 {
	font-family: "Courier New";
	text-align: center;
	font-weight: lighter;
	font-size: 6rem;
}