body {
	border: 0;
	margin: 0;
}
canvas {
	width: 100vw;
	height: 100vh;
	background:  white;
	/*linear-gradient(90deg, rgba(230,99,200,1) 0%, rgba(133,240,177,1) 35%, rgba(44,219,255,1) 100%);*/
}
#name {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*#name .background {
	position: absolute;
	width: 30rem;
	height: 100vh;
	top: 0;
	left: 59%;
	transform-origin: center center;
	border-left: 3px solid;
	border: 40px solid #39424E;
	background: #39424E;
}*/
#name .text {
	position: absolute;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	color: white;
}


#name .social {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

#name .social div {
	color: white;
}

#name .social li {
	display: 
}

#name .text h2 {
	font-family: "Courier New";
	text-align: center;
	font-weight: lighter;
	font-size: 4rem;
	text-shadow: 4px 4px #9e0059;
	opacity: 1;
}

/* Content section */
#info {
	position: relative;
	padding-top: 100vh;
	width: 100%;
}

#info .centered {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"widget info";
	justify-items: center;
}

.container > * {
	width: 100%;
}

.grid-info {
	position: relative;
	grid-area: info;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.grid-info .card {
	padding: 5px 12px;
	margin-bottom: 15px;
}

.widget {
	grid-area: widget;
	width: 100%;
	min-height: 400px;
	max-width: 500px;
	/*background: #424662;	*/
}

.widget iframe {
	max-height: 500px;
	height: 100%;
	width: 100%;
	margin: auto;
	display: block;
}

.latest-news {
	background: #F25928;
}

.shows {
	background: #3E9DFC;
}

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 600px;
	margin: 12px auto;
	text-align: left;
}

tr {
	border-bottom: 1px solid white;
	transition: background-color 0.2s ease-out;
}

tr:hover {
	background: #555;
}

td {
	box-sizing: border-box;
	padding: 1px 3px;
}

#scroll-down {
	position: absolute;
	top: 80%;
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	background: #9e0059;
	clip-path: polygon(100% 50%, 50% 100%, 0 50%, 0 0, 50% 50%, 100% 0);
	-webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%, 0 0, 50% 50%, 100% 0);
	will-change: transform;
	animation: InviteMove 1.5s ease-in-out 0s infinite normal forwards;
}

.card {
	width: 100%;
	max-width: 700px;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
	margin: 0 auto;
}

.button {
	box-sizing: border-box;
	padding: 5px 12px;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
	background: #9e0059;
	border: 2px solid #9e0059;
	width: 200px;
	font-size: 1.5rem;
	color: white;
	text-shadow: 2px 2px #9e0059;
}

/*#scroll-down {
	position: absolute;
	top: 80%;
	left: calc(50% - 30px);
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 100px solid #400a4f;
	animation: InviteMove 2s ease 0s infinite normal forwards;
}

#scroll-down:before {
	content: "";
	position: absolute;
	top: 0%;
	left: calc(50% - 30px);
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 100px solid #400a4f;
}*/

@keyframes InviteMove {
    0.0%{
        transform: translate3d(0, 0, 0);
    }
   
    50%{
        transform: translate3d(0, -20px, 0);
    }
} 