<!DOCTYPE html>
<html>

<head>
    {{ block "head" . }}
    {{ partial "head.html" . }}
    {{ end }}

    {{ block "head_resources" . }}
    <!-- Use this block to link to further resources like .js or .css files. -->
    {{ end }}
    <title>
        {{ block "title" . }}
        {{ .Title | markdownify}}
        {{ end }}
    </title>
</head>

<body>
    {{ block "top-menu" . }}
        {{ if .Site.Params.mainMenu }}
        <section class="navigation">
            {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
        </section>
        {{ end }}
    {{ end }}
    {{ block "main" . }} 
    {{ block "section_title" . }}
    <header class="wrap flex-container">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    {{ end }}
    <main class="wrap">
        {{ block "section_content" . }}
        <article role="article" class="flex-container">{{ .Content }}</article>
        {{ end }}
    </main>
    {{ block "footer" . }}
    <footer class="flex-container footer wrap">{{ partial "footer.html" . }}</footer>
    {{ end }}
    {{ end }}
    <script type="text/javascript" charset="utf-8">
        function addElementToDom(elem){
            document.querySelector("section.navigation").appendChild( elem )
        }
    </script>
    <script src="https://threejs.org/build/three.js"></script>
    <script src="/js/EffectComposer.js"></script>
    <script src="/js/ShaderPass.js"></script>
    <script src="/js/CopyShader.js"></script>
    <script src="/js/ClearPass.js"></script>
    <script src="/js/TexturePass.js"></script>
    <script src="/js/RenderPass.js"></script>
    <script src="/js/DigitalGlitch.js"></script>
    <script src="/js/GlitchPass.js"></script>
    <!-- <script src="/js/index.js"></script> -->
</body>

</html>