{{ define "section_content" }}
<link rel="stylesheet" href="/css/justifiedGallery.min.css"/>
<link rel="stylesheet" href="/css/lightgallery.min.css"/>
<article role="article" class="flex-container">
    {{ .Content }}
</article>

{{ if .Params.clickablePhotos }}
    <div class="grid" id="lightgallery">
    {{ $images := .Resources.ByType "image" }}
    {{ range shuffle $images }}
    {{ $resized := .Resize $.Params.maxWidth }}
        <div data-src="{{ .RelPermalink }}">
            <a href="#">
                <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" />     
            </a>
        </div>
        {{ end }}
    </div>
{{ else }}
    <div class="grid" id="lightgallery">
    {{ $images := .Resources.ByType "image" }}
    {{ range shuffle $images }}
    {{ $resized := .Resize $.Params.maxWidth }}
        <div data-src="{{ .RelPermalink }}">
            <a href="#">
                <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}">
            </a>
        </div>
    {{ end }}

    </div>
{{ end }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/js/jquery.justifiedGallery.min.js"></script>
<script src="/js/lightgallery.min.js"></script>
<script>
   $("#lightgallery").justifiedGallery({
       rowHeight : 250,
       lastRow : 'left',
       margins : 3
   })
   $('#lightgallery').lightGallery({
       thumbnail:true
   })
</script>
{{ end }}