{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>
<div role="list" class="news">
    <p>
        Most recent news of Zero-Sum!
    </p>
    <ul>
        {{ range .Data.Pages }}
        <li>
            <h2><a href="{{.RelPermalink}}">
                {{.Title | markdownify}}
            </a></h2>
            <h6>{{ .PublishDate.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} | {{ .ReadingTime }} minute to read.</h6>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}