
    <nav role="navigation" class="top-menu">
        <a href="{{ .Site.Home | relURL }}">
                zero-sum
            </a>

        {{ if or ((.Page.Site.Params.mainMenu) (.show_back_menu_item)) }}
        <ul>
        {{ end }}
            
            {{ if .show_back_menu_item }}
                <li><a href="{{ .Page.Section | relURL }}">back</a></li>
            {{ end }}

            {{ if .Page.Site.Params.mainMenu }}
                {{ range first 1 .Page.Site.Params.mainMenu }}
                    <li><a href="{{ .link | relURL }}">{{ .text }}</a></li>
                {{ end }}
            
            {{ if ( gt ( len .Page.Site.Params.mainMenu ) 1 ) }}
                {{ range after 1 .Page.Site.Params.mainMenu }}
                    <li>| <a href="{{ .link | relURL }}">{{ .text }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
        </ul>
    </nav>
