<!DOCTYPE html>
<html lang="en">
	<head>
	    {{ block "head" . }}
	    {{ partial "head.html" . }}
	    {{ end }}

	    {{ block "head_resources" . }}
	    <!-- Use this block to link to further resources like .js or .css files. -->
	    {{ end }}
	    <title>
	        {{ block "title" . }}
	        {{ .Title | markdownify}}
	        {{ end }}
	    </title>
	    <link type="text/css" rel="stylesheet" href="/css/index.css">
	</head>

	<body>
		<section id="name">
			<!-- <div class="background"> </div> -->
			<div class="text">
				<h2>zero-sum</h2>
				<div class="social">
					<div>A</div>
					<div>B</div>
					<div>C</div>
				</div>
			</div>
			<div id="scroll-down"></div>
		</section>
		<section id="info">
			<!-- <nav>
				zero-sum
				<ul>
					<li>ICON</li>
					<li>NEWS</li>
					<li>GALLERY</li>
					<li>ABOUT / EPK</li>
				</ul>
			</nav> -->
			{{ block "top-menu" . }}
			        {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
			{{ end }}
			<div class="centered">
				<div class="container">
					<div class="widget">
						test
					</div>
					<div class="latest-news">
						test
					</div>
					<div class="shows">
						<ul>
						{{ range .Site.Data.shows.shows }}
						  <li>
						  	{{ dateFormat "2006/01/02 15:04" .time }} {{ .title }} at {{ .location }}. <a href="{{ .tickets }}">Buy tickets here</a>
						  </li>
						{{ end }}
						</ul>
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript" charset="utf-8">
			function addElementToDom(elem){
				document.querySelector("#name").appendChild( elem )
			}
		</script>
		<script src="https://threejs.org/build/three.js"></script>
		<script src="/js/EffectComposer.js"></script>
		<script src="/js/ShaderPass.js"></script>
		<script src="/js/CopyShader.js"></script>
		<script src="/js/ClearPass.js"></script>
		<script src="/js/TexturePass.js"></script>
		<script src="/js/RenderPass.js"></script>
		<script src="/js/DigitalGlitch.js"></script>
		<script src="/js/GlitchPass.js"></script>
		<script src="/js/index.js"></script>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script>
		  if (window.netlifyIdentity) {
		    window.netlifyIdentity.on("init", user => {
		      if (!user) {
		        window.netlifyIdentity.on("login", () => {
		          document.location.href = "/admin/";
		        });
		      }
		    });
		  }
		</script>
	</body>
</html>